@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


:root {
    --primary-color: #e5ecf4;
    --secondary-color: #313745;
    --text-color: #fafbfb;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    scroll-behavior: smooth;
}

body {
    background: var(--primary-color);
    font-family: 'Poppins', sans-serif;
}

img {
    width: 250px;
}

.heading {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.search-city {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.search-city .enter-search {
    width: 350px;
    height: 40px;
    margin-top: 1rem;
    position: relative;
}

.enter-search input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: var(--text-color);
    font-size: 16px;
    border-radius: 50px;
    padding: 0 60px 0 20px;
}

.enter-search .search-button {
    position: absolute;
    top: 50%;
    right: -80px;
    transform: translateY(-50%);
    height: 40px;
    width: 80px;
    color: var(--text-color);
    background: #0000ea;;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 10px;
}

/* Weather information */
.city {
    font-size: 3rem;
    margin-top: 1rem;
    color: var(--secondary-color);
}

.timezone {
    font-size: 1rem;
    color: #0000ea;
}

.temperature {
    font-size: 4rem;
    cursor: pointer;
}

.temperature:hover {
    color: #313745;
}

.description {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #0000ea;
}